---
layout: archive
---

{{ content }}

<center>
  <h1 style="color: ">Attentional modulation of functional connectivity
    in the face processing network of the brain - Poster RAW 2023</h1>
  <object
    data="{{ site.url }}{{ site.baseurl }}/Poster_RAW_2023.pdf"
    width="1000"
    height="1250"
    type="application/pdf"
  ></object>
</center>

<h1 style="color: ">Abstract</h1>
<p>
  Attention can modulate the responses of our brain. However, the effect
  attention can have on the face processing network in different frequency bands
  has yet to be fully understood. The present study investigates the attentional
  modulation of the brain's neuronal activity and functional connectivity during
  face processing. Task-based magnetoencephalography (MEG) was recorded from ten
  participants. The participants attended to compound facial stimuli and
  responded either to parts of the face (eyes or mouth) or the facial identity
  of the presented face stimulus. Each condition's relative activation and
  functional connectivity were analysed in theta, alpha, beta, and gamma
  frequency bands. For this, ten regions of interest related to visuospatial
  attention and face processing were selected. The results indicate decreased
  activity when attending to the mouth part in the right frontal eye field (FEF)
  in the theta and beta frequency bands and involvement of the middle temporal
  visual area between the identity and mouth condition in the alpha and gamma
  bands and a decreased activation of the perirhinal ectorhinal cortex during
  attention to the face-identity. An increase in functional connectivity in the
  alpha band when attending to the facial identity between the right FEF and the
  perirhinal ectorhinal cortex was found. In the alpha band, the data suggests
  an increase between the right IFJa and the right superior temporal sulcus
  (STS) when attending to the eyes. The results show an increase in the
  functional connectivity in the beta band between the right anterior inferior
  frontal junction (IFJ) and the STS and a decrease between the anterior IFJ and
  the right FEF. The results suggest different attentionbased modulations of
  brain activity and functional connectivity in several brain areas related to
  processing different face features in multiple frequency bands. The IFJ and
  the FEF might be crucial in modulating these areas' attention.
</p>

<h4 id="background">Background</h4>

<h4 id="method">Method</h4>

<h4 id="results-and-discussion">Results and Discussion</h4>

<h1 class="unnumbered" id="figures">Figures</h1>
<figure id="fig:BOT_theta">
  <img src="{{ site.url }}{{ site.baseurl }}/figures/BOT-theta-Brain_TFR.jpg" />
  <figcaption>
    Significant spectral activity in the BOT-condition in the theta band (right
    FEF and right MT).
  </figcaption>
</figure>
<figure id="fig:BOT_beta">
  <img src="{{ site.url }}{{ site.baseurl }}/figures/BOT-beta-Brain_TFR.jpg" />
  <figcaption>
    Significant spectral activity in the BOT-condition in the beta band (right
    FEF).
  </figcaption>
</figure>
<figure id="fig:ID_alpha">
  <img src="{{ site.url }}{{ site.baseurl }}/figures/ID-alpha-Brain_TFR.jpg" />
  <figcaption>
    Significant spectral activity in the ID-condition in the alpha band (right
    PeEC and right MT).
  </figcaption>
</figure>

<figure id="fig:FC1">
  <img src="{{ site.url }}{{ site.baseurl }}/figures/functional-connectivity-figure.png" />
  <figcaption>
    Significant functional connecitvity (imaginary part of coherency) in different conditions and frequency bands.
    (A): Attend to identity condition in the alpha band. (B): Attend to eyes condition in the alpha band. (C): Attend to mouth condition in the beta band.
  </figcaption>
</figure>


<div id="refs" class="references csl-bib-body hanging-indent" role="list"></div>
<section
  id="footnotes"
  class="footnotes footnotes-end-of-document"
  role="doc-endnotes"
></section>
